<html>
<head>
	<title> Index </title>
	<style type="text/css" href='/stylesheets/style.css'></style>
</head>
<body>
	<h1>message</h1>
	<h2 class="status"></h2>
	<pre id="stack"></pre>
</body>
</html>
