<html>
<head>
	<title> Index </title>
	<style type="text/css" href='/stylesheets/style.css'></style>
</head>
<body>
	Notification Page
	<div id="notify"></div>
</body>
<script src="http://lookgood.myntassets.com/js/JSXTransformer-0.13.1.js"></script>
<script src="https://fb.me/react-0.13.3.js"></script>
<script type="text/jsx" src="/javascripts/mainComponent1.js"></script>
</html>

